*

!.husky/
!.husky/pre-commit
!/.editorconfig
!/.eslintrc.json
!/.gitignore
!/.prettierrc.json
!/jest.config.js
!/LICENSE
!/package.json
!/README.md
!/tsconfig.json
!/yarn.lock

!src/
!src/**/
!src/**/*.ts

!test/
!test/**/
!test/**/*.ts

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
