*

!.husky/
!.husky/pre-commit
!/.editorconfig
!/.eslintignore
!/.eslintrc.json
!/.gitignore
!/.npmignore
!/.npmrc
!/.prettierignore
!/.prettierrc.json
!/jest.config.cjs
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/README.md
!/tsconfig.json
!/tsconfig.eslint.json

!src/
!src/**/
!src/**/*.ts

!test/
!test/**/
!test/**/*.ts

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
