use-node-version=24.12.0
auto-install-peers=false
strict-peer-dependencies=true
minimum-release-age=10080
ignore-scripts=true
minimum-release-age-exclude[]=@aws-sdk/client-api-gateway@3.995.0
minimum-release-age-exclude[]=@aws-sdk/client-s3@3.995.0
minimum-release-age-exclude[]=@aws-sdk/client-secrets-manager@3.995.0
minimum-release-age-exclude[]=@aws-sdk/client-sns@3.995.0
minimum-release-age-exclude[]=@aws-sdk/lib-storage@3.995.0
minimum-release-age-exclude[]=@aws-sdk/core@3.973.11
minimum-release-age-exclude[]=@aws-sdk/util-endpoints@3.995.0 || 3.993.0
minimum-release-age-exclude[]=@aws-sdk/middleware-user-agent@3.972.11
minimum-release-age-exclude[]=@aws-sdk/signature-v4-multi-region@3.995.0
minimum-release-age-exclude[]=@aws-sdk/middleware-flexible-checksums@3.972.9
minimum-release-age-exclude[]=@aws-sdk/util-user-agent-node@3.972.10
minimum-release-age-exclude[]=@aws-sdk/middleware-sdk-s3@3.972.11
minimum-release-age-exclude[]=@aws-sdk/credential-provider-node@3.972.10
minimum-release-age-exclude[]=@aws-sdk/xml-builder@3.972.5
minimum-release-age-exclude[]=@aws-sdk/credential-provider-http@3.972.11
minimum-release-age-exclude[]=@aws-sdk/credential-provider-env@3.972.9
minimum-release-age-exclude[]=@aws-sdk/credential-provider-web-identity@3.972.9
minimum-release-age-exclude[]=@aws-sdk/credential-provider-process@3.972.9
minimum-release-age-exclude[]=@aws-sdk/credential-provider-sso@3.972.9
minimum-release-age-exclude[]=@aws-sdk/credential-provider-ini@3.972.9
minimum-release-age-exclude[]=@aws-sdk/credential-provider-login@3.972.9
minimum-release-age-exclude[]=@aws-sdk/nested-clients@3.993.0
minimum-release-age-exclude[]=@aws-sdk/token-providers@3.993.0
minimum-release-age-exclude[]=@aws-sdk/client-sso@3.993.0
minimum-release-age-exclude[]=@smithy/core@3.23.3
minimum-release-age-exclude[]=@smithy/middleware-endpoint@4.4.17
minimum-release-age-exclude[]=@smithy/util-defaults-mode-browser@4.3.33
minimum-release-age-exclude[]=@smithy/smithy-client@4.11.6
minimum-release-age-exclude[]=@smithy/util-defaults-mode-node@4.2.36
minimum-release-age-exclude[]=@smithy/middleware-retry@4.4.34
minimum-release-age-exclude[]=@smithy/util-stream@4.5.13
minimum-release-age-exclude[]=fast-xml-parser@5.3.8
